#wrapper {    
width: 750px;   
margin: 0 auto; 
} 

#header1 {   
  padding-top: 92px;   
  overflow: hidden;   
  background-image: url(images/the_harvard_guide.png);   
  background-repeat: no-repeat;   
  height: 0px;   
}

#page-nav{    
width: 29%;   
margin: 0 auto; 
float: left;  
clear:left;
} 


/* -----------Start of HeadLogo -----------  */

.page-head{
width: 100%; 
}
/* -----------End of HeadLogo -----------  */


/*  -----------Start of Main Navigator-----------  */
ul{
list-style:none;
padding:0;
width:100%;
font-family: Arial, Verdana, Helvetica, sans-serif;   
width: 15em; 
}


ul.main-nav {
width:30%;
margin-top:1px;
margin-bottom:15px;
font-size: 9pt;
font-weight: bold;
}

ul.main-nav li a {
text-decoration:none;
padding:5px 0;
width:185px;
background:#485e49;
float:left;
color:#eee;
text-align:left;
text-indent:5px;
border-left:3px solid #FF0000;
border-top:1px solid #fff;
clear:left;
}

ul.main-nav li a:hover {
background:#a2b3a1;
color:#000
}
/* -----------End of Main Navigator-----------  */

/* -----------Start of Sub Navigator-----------  */
ul#sub-nav {
margin-bottom:1px;
width:30%;
font-weight: bold;   
font-size: 8pt;   
}

ul#sub-nav li a {
text-decoration:none;
padding:5px 0;
width:185px;
background:#AEB404;
color:#eee;
float:left;
text-align:left;
text-indent:17px;
border-left:3px solid #FF0000;
border-top:1px solid #fff;
clear:left;
}

ul#sub-nav li a:hover {
background:#a2b3a1;
color:#000
}
/* -----------End of Sub Navigator-----------  */




/* -----------Start of Sub Sub Navigator-----------  */
ul#sub-sub-nav {
margin-bottom:1px;
width:30%;
font-weight: normal;  
font-size: 8pt;   
}

ul#sub-sub-nav li a {
text-decoration:none;
padding:5px 0;
width:185px;
background:#D7DF01;
color:#eee;
float:left;
text-align:left;
text-indent:35px;
border-left:3px solid #FF0000;
border-top:1px solid #fff;
clear:left;
}

ul#sub-sub-nav li a:hover {
background:#a2b3a1;
color:#000
}
/* -----------End of Sub Sub Navigator-----------  */


li#nav-item-selected a.active, li#nav-item-selected a:visited{
text-decoration:none;
padding:5px 0;
width:185px;
background:#a2b3a1;
float:left;
color:#000;
text-align:left;
text-indent:5px;
border-left:3px solid #FF0000;
border-top:1px solid #fff;
clear:left;
}

/* -----------Start of breadcrumb-----------  */
 
.breadcrumb{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;   
}

.breadcrumb a{
text-decoration: none;
padding-right: 2px; 
color: navy;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: navy;
}

.breadcrumb a:hover{
text-decoration: underline;
}
.breadcrumb a:after
{
content: ">>" ;
}
/* -----------End of breadcrumb-----------  */


/* -----------Start of Content -----------  */

#page-content{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
margin: 0 auto; 
float: left;
clear: right;    
width:70%;
text-align: justify;  
 
}

h2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14pt;
text-align:center;
}


label{
font-weight: bold; 
}

a{
text-decoration: none;
padding-right: 2px; 
color: navy;
font-weight: bold; 

}


.contact-info{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
text-align:left;
text-decoration: none;
margin-bottom : 1em;
}


.prev-next{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
text-align:right;
font-weight: bold; 
}

.prev-next a{
color:#eee;
text-decoration: none;
padding-right: 2px; 
text-align:right;
background-color:#485e49;
margin: 0em;
padding: 0.25em;
border-style:solid;
border-color:yellow;
}

.prev-next a:visited, .prev-next a:active{
background: #485e49;
}

.prev-next a:hover{
background:#a2b3a1;
color:#000
}

.c-footer{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align:right;
color: #999999;
}

.contact-footer{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align:right;
font-style:italic; 
}

/* -----------End of Content -----------  */