#wrapper {    
width: 750px;   
margin: 0 auto; 
} 

#header1 {   
  padding-top: 92px;   
  overflow: hidden;   
  background-image: url(images/the_harvard_guide.png);   
  background-repeat: no-repeat;   
  height: 0px;   
}

#page-nav{    
width: 29%;   
margin: 0 auto; 
float: left;  
clear:left;
} 
